<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="base :: head(~{::title})">-->
<!--<title>Добавление автомобиля</title>-->
<!--</head>-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Добавление автомобиля</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>

<body>
<div class="form-group col-md-6">
    <input type="button" class="btn btn-primary" onclick="history.back();" value="Назад"/>
</div>
<br>
<br>
<form method="post" th:action="@{/visit/add}"
      th:object="${visit}">

    <div class="form-group col-md-6">
        <label class="col-form-label"></label>
        <input th:field="*{mileage}" type="number" class="form-control" placeholder="Пробег"/>
    </div>

    <div class="form-group col-md-6">
        <label class="col-form-label"></label>
        <input th:field="*{dateOfVisit}" type="datetime-local" class="form-control" id="eventStart" placeholder="Введите дату">
    </div>

    <div class="form-group col-md-6">
        <button type="submit" class="btn btn-primary">Добавить</button>
    </div>


</form>
</body>
</html>