<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>

<body th:object="${client}">

     <th:block th:insert="index::header"></th:block>
     <div class="form-group col-md-6">
         <input type="button" class="btn btn-primary" onclick="history.back();" value="Назад"/>
     </div>

    <div>

        <table class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">@mail</th>
            </tr>
            </thead>

            <td th:text="${client.get().name}"></td>
            <td th:text="${client.get().phone}"></td>
            <td th:text="${client.get().email}"></td>
<!--            <td><a th:href="@{/client/edit/{id}(id=${client.get().id})}">-->
<!--                <button type="submit" class="alert-primary">Update</button>-->
<!--            </a></td>-->
<!--            <td><a th:href="@{/client/remove/{id}(id=${client.get().id})}">-->
<!--                <button type="submit" class="alert-primary">Delete</button>-->
<!--            </a></td>-->
<!--            <td><a th:href="@{/car/add/{id}(id=${client.get().getId()})}">-->
<!--                <button type="submit" class="alert-primary">addCar</button>-->
<!--            </a></td>-->
            <td><a th:href="@{/car/add/{id}(id=${client.get().getId()})}" class="btn btn-primary">
                <i class="fas fa-car"> Add</i>
            </a></td>
            <td><a th:href="@{/client/edit/{id}(id=${client.get().id})}" class="btn btn-primary">
                <i class="fas fa-retweet"> Update</i>
            </a></td>
            <td><a th:href="@{/client/remove/{id}(id=${client.get().id})}" class="btn btn-primary">
                <i class="fas fa-times"> Delete</i>
            </a></td>

        </table>

        <h2 class="my-5">Car list</h2>
        <table class="table table-striped table-responsive-md">

            <thead>

            <tr>
                <th scope="col">#</th>
                <th scope="col">Model</th>
                <th scope="col">VIN</th>
                <th scope="col">State number</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car, state : ${client.get().getCars()}">
                <th scope="row" th:utext="${state.count}"></th>
                <td th:text="${car.model}"></td>
                <td th:text="${car.vin}"></td>
                <td th:text="${car.gosnumber}"></td>
<!--                <td><a th:href="@{/car/edit/{id}(id=${car.id})}">-->
<!--                    <button type="submit" class="alert-primary">Update</button>-->
<!--                </a></td>-->

<!--                <td><a th:href="@{/car/remove/{id}(id=${car.id})}">-->
<!--                    <button type="submit" class="alert-primary">Delete</button>-->
<!--                </a></td>-->

<!--                <td><a th:href="@{/visit/car/{id}(id=${car.id})}">-->
<!--                    <button type="submit" class="alert-primary">Select</button>-->
<!--                </a></td>-->
                <td><a th:href="@{/visit/car/{id}(id=${car.id})}" class="btn btn-primary">
                    <i class="fas fa-share"> Select</i>
                </a></td>
                <td><a th:href="@{/car/edit/{id}(id=${car.id})}" class="btn btn-primary">
                    <i class="fas fa-retweet"> Update</i>
                </a></td>
                <td><a th:href="@{/car/remove/{id}(id=${car.id})}" class="btn btn-primary">
                    <i class="fas fa-times"> Delete</i>
                </a></td>

                <!--                <td>-->
                <!--                    <form method="post" th:action="@{/visit/car}"-->
                <!--                          th:object="${car}">-->
                <!--                        <button type="submit">Visit</button>-->
                <!--                          </form>-->
                <!--                    </td>-->
            </tr>
            </tbody>
        </table>
        </tbody>
    </div>
</body>
</html>